<title>Bookmarks</title>
<% @bookmarks.each do |bookmark| %>
    <li> <a href="<%= bookmark.url %>">  <%= bookmark.title %> </a> </li>
<% end %>
<br>
<form action="/adder" method="post">
    <font size="6">Please add your new bookmark:<p></font>
    Title: <input type="text" name="title">
    URL: <input type="text" name="bookmark_url">
    <input type="submit" value="Submit">
</form>
